*.3
*.5
*.8
*.a
*.bak
*.fo
*.la
*.lo
*.log
*.o
*.pdf
*.so
*.trs
*~
.deps/
.libs/
/ABOUT-NLS
/ChangeLog
/INSTALL
/Linux-PAM-*.tar.*
/Linux-PAM-*/
/aclocal.m4
/autom4te.cache
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/*/*.txt
/doc/*/html/
/libtool
/modules/pam_*/README
/stamp-h1
Makefile
Makefile.in
lex.yy.c
